{% extends "/shared/_base.html" %}

{% block content %}
<section id="body" class="flex flex-col bg-slate-50 h-full w-full m-auto overflow-hidden">
    <div class="flex flex-col items-center py-4 w-full h-full">

        <div class="flex flex-row items-baseline justify-center gap-4 w-full border-b border-slate-200 pb-2">
            <h2 class="text-2xl leading-relaxed text-slate-800 uppercase">Players</h2>
            <p class="text-slate-500 font-medium">Total: {{ players|length }}</p>
        </div>

        <!-- Horizontal scrollable container for groups -->
        <div id="player-roster" class="flex flex-row w-full flex-1 overflow-x-scroll pb-4 px-4 gap-6 items-start">
            {% for group in groups %}
                {% include "partials/_player_group.html" %}
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}