<div class="flex flex-col min-w-[300px] h-full" hx-get="/api/discipline_groups/add/form" hx-trigger="click" hx-target="this" hx-swap="outerHTML">
    <h3 class="text-xl font-semibold text-slate-400 mb-4 border-b-2 border-slate-200 inline-block self-start opacity-0">
        Add New Group
    </h3>
    <div class="bg-white shadow-md rounded-lg p-6 border-2 border-dashed border-slate-300 flex flex-col items-center justify-center grow cursor-pointer hover:border-teal-500 hover:bg-teal-50 transition-all duration-200 group">
        <span class="text-6xl text-slate-300 group-hover:text-teal-500 transition-colors duration-200">+</span>
    </div>
</div>
